* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: #333;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .brand {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul#user_info {
  display: none;
  align-items: center;
}

nav ul#user_info li {
  position: relative;
  margin: 0 7px;
}

nav ul#user_info li i {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

nav ul#user_info .carts-products {
  position: absolute;
  width: 200px;
  transform: translate(-42%, 0);
  background: #eaeaea;
  top: 46px;
  padding: 10px;
  border: 1px solid green;
  display: none;
}

nav ul#user_info .carts-products a {
  background: darkgreen;
  display: block;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

nav ul#user_info li .badge {
  width: 20px;
  height: 20px;
  background: crimson;
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -9px;
  right: -11px;
  font-size: 10px;
  line-height: 20px;
  display: none;
}

nav li a {
  display: block;
  color: #fff;
  min-width: 50px;
  margin: 0 5px;
  padding: 5px;
}

/* ************* Form ***************** */
.section-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  background: #bc6ff1;
  padding: 20px;
}

.section-form h2 {
  font-size: 50px;
  letter-spacing: 2px;
  color: #52057b;
}

.section-form form {
}

.section-form form input {
  display: block;
  font-family: "Oswald", sans-serif;
  width: 100%;
  margin: 5px 0;
  height: 40px;
  padding: 5px;
  border: 1px solid #ddd;
  outline: 0;
}

.section-form form input[type="submit"] {
  font-size: 25px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
}

.section-form form input[type="submit"]:hover {
  opacity: 0.8;
}

#search {
  width: 100%;
  height: 40px;
  display: block;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
}

/* Products */
.products {
  width: 60%;
  float: left;
  margin: 10px 0;
}

.products-filter {
  width: 35%;
  float: right;
  margin: 10px 0;
}

#size-filter {
  display: block;
  width: 100%;
  height: 40px;
}

.product-item {
  display: flex;
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  min-height: 150px;
}

.product-item-img {
  width: 25%;
  margin-right: 10px;
}

.product-item-desc a {
  display: block;
  font-size: 25px;
  color: #333;
  cursor: pointer;
}

.product-item-actions {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item-actions .add-to-cart {
  display: block;
  margin-left: auto;
  background-color: darkgreen;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

.product-item-actions .favorite {
  cursor: pointer;
  display: block;
  width: 20px;
  margin-left: auto;
}

.item-details img {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #333;
  padding: 2px;
  height: 400px;
  object-fit: cover;
}

.edit-product {
  display: block;
  width: 140px;
  border: none;
  background: darkgreen;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

/*************** Create Product **************/
.create-product-icon {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 50px;
  height: 50px;
  background-color: #52057b;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

.create-product-icon:hover {
  opacity: 0.8;
}

.item-qty {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
}

.user-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 10px 0;
}

#edit-profile-form input {
  width: 100%;
  display: block;
  margin: 10px 0;
  height: 40px;
}

#edit-profile-form input[type="submit"] {
  cursor: pointer;
  background: #333;
  color: #fff;
}

#en_lang,
#ar_lang {
  color: #fff;
  cursor: pointer;
}
